
body{
    font-family: Montserrat, sans-serif;
}
h1{
    color: white;
    background-color: paleturquoise; 
}
h1.clicked{
    color: paleturquoise;
    background-color: white;
    
}
p{
    color: black; margin-left: 40px; margin-top: 40px; font-size: larger;
}
ul{
    font-weight: bold;
}
ol{
    background-color: palegreen;
}