body {
    font-family: Montserrat, sans-serif;
}

h1 {
    color: white;
    background-color: palegreen;
}

h1.clicked {
    color: palegreen;
    background-color: white;

}

aside {
    background-color: palegreen;
    float: left;
    margin: 0 20px 4px 10;
    font-size: 0.9em;
}

ul {
    font-weight: bold;
}

ol {
    background-color: palegreen;
}
p{
    margin-left: 40px;
}
tr:nth-child(odd) {
    background-color: palegreen;
  }