
body{
    font-family: Montserrat, sans-serif;
}
h1{
    color: white;
    background-color: palegreen; 
}
h1.clicked{
    color: palegreen;
    background-color: white;
    
}
aside{
    background-color: palegreen;
    color: white;
    float: right;
}
ul{
    font-weight: bold;
}
ol{
    background-color: palegreen;
}